# Discord API Service
# Copy to .env and fill values

# HTTP port
PORT=3001

# Discord Incoming Webhook URL
# Example: https://discord.com/api/webhooks/123456789012345678/xxxx
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1406210469965987951/WOAm5FGoPNA_W_Q7D052fM96-x07avyvAfD_rSpzAm0LtYa0q0xpl6y9R45bniB9cnDk
